name=i2psnark-rpc
signer=zzz-plugin@mail.i2p
consoleLinkName=I2PSnark-Remote
consoleLinkURL=/transmission/web/
description=RPC and Web UI for i2psnark
author=zzz@mail.i2p
updateURL.su3=http://stats.i2p/i2p/plugins/i2psnark-rpc-update.su3
websiteURL=http://zzz.i2p/forums/16
license=GPLv2
min-java-version=1.7
min-jetty-version=9
min-i2p-version=0.9.47
